.archive
.template
.RData
.Rhistory
.Rapp.history
.DS_Store
.Rproj.user
*.tiff
*.mp4
*.nii
*.nii.gz
*.Rdata
*.Rproj
*DS_Store
derivatives/
sourcedata/
rawdata/
wd_projects/
wd_rstats/input/
wd_rstats/output/
wd_rstats/input_*/
wd_rstats/output_*/
