.archive
.template
*.tiff
*.mp4
.archive
*.nii
*.nii.gz
*.Rdata
*.Rproj
.RData
.Rhistory
.Rapp.history
.DS_Store
.Rproj.user
derivatives/
sourcedata/
rawdata/
wd_projects/
wd_rstats/input/
wd_rstats/output/
wd_rstats/input_*/
wd_rstats/output_*/
